<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="/header.html :: head">
</head>
<body>
<nav th:insert="/header.html :: nav"/>
<div class="products">
<div  th:each="product : ${products}" >
   <div class="product">
       <h2 th:if="${!product.isActive()}">Product sold</h2> </br>
  <span>Name: </span>  <h1 th:text = "${product.name}"/> <br>
   <span>Price: </span> <h2 th:text = "${product.price}"/> <br>
       <a th:href="'/product/find?id='+${product.id}">See more</a>
    </div>
    </div>
</div>
<a th:href = "${backlink}"> Go Back </a>
</body>
</html>